@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P', cursive;
}
h1 {
 font-size: 50px;
}
button {
  background-color: #ffd93d;
  color: #000;
  border: 4px solid #4a4a4a;
  padding: 10px 20px;
  font-size: 16px;
  position: relative;
  margin: 10px;
  cursor: pointer;
  image-rendering: pixelated;
  box-shadow: 
    inset -4px -4px 0px 0px #8b6b00,
    inset 4px 4px 0px 0px #fff6d5;
  transition: all 0.05s ease;
}

button:hover {
  background-color: #ffed4a;
}

button:active {
  box-shadow: 
    inset 4px 4px 0px 0px #8b6b00,
    inset -4px -4px 0px 0px #fff6d5;
}

.title {
  margin: fit-content;
  padding: 1px;
  background-image: url("img/banner.png");
  min-height: 125px;
  border-radius: 30%;
  text-align: center;
}
.navBar {
  margin: fit-content;
  padding: 1px;
  text-align: right;
}
.score {
  margin: fit-content;
  padding: 1px;
  text-align: center;
}
.game {
  width: fit-content%;
}
.infos {
  position: absolute;
  left: 70%;
  margin-right: 10px;
  background: #5b8664;
}
